@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{

    --Tituloh3--Color:#766F68;
    --header__titulo--color:  #D2872C;
}

.header{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 40px 30px;
    justify-content: space-between;
}

.header__titulo h2{
    font-size: 25px;
    font-family: 'Roboto';
    color: var(--header__titulo--color);
}